/* font-family: 'Playfair Display', serif;
 font-family: 'Poppins', sans-serif;
 font-family: 'Montserrat', sans-serif; 
 font-family: 'Hammersmith One', sans-serif;
 .bgred {background: white;}*/

body {
  font-family: "Poppins", sans-serif;
}

footer {
  flex: 1;
  display: flex;
  justify-content: center;
  background-color: white;
  padding: 40px;
}

h1 {
  font-size: 700;
  font-weight: bold;
}

h2 {
  font-weight: 200;
}

h3 {
  font-weight: 700;
  font-style: italic;
  text-align: center;
  color: black;
}

section {
  text-align: right;
  padding-bottom: 20px;
  background-color: #fafafa;
}

.logo {
  max-width: 50px;
  margin-left: 100px;
}

.navbar-nav {
  flex: 1;
  justify-content: flex-end;
}

.link-footer {
  color: black;
  text-decoration: none;
  padding: 5px;
}

.arrow-card {
  display: block;
  margin: 0, auto;
}

.fas {
  color: black;
}

.navbar-light .navbar-nav .nav-link {
  font-size: large;
  color: black;
  margin: 20px;
}

#intro {
  background-image: url("Media/compressed.jpg");
  height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
}

.card {
  margin: 35px;
}

.button-homepage {
  color: black;
  text-decoration: none;
  border: solid black;
  padding: 50px;
  margin: 50px;
  padding: 10px;
  border: 0.1em solid black;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  font-weight: 300;
  color: black;
  text-align: center;
  transition: all 0.2s;
  box-shadow: 5px 5px 10px rgba(156, 115, 115, 0.1);
}

.button-resume {
  color: black;
  text-decoration: none;
  border: solid black;
  padding: 50px;
  margin: 50px;
  padding: 10px;
  border: 0.1em solid black;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  font-weight: 300;
  color: black;
  text-align: center;
  transition: all 0.2s;
  box-shadow: 5px 5px 10px rgba(156, 115, 115, 0.1);
}

.quick-facts {
  margin: 60px;
}

.sandrine {
  max-width: 400px;
}

.download-cv {
  text-align: center;
}

.portfolio {
  margin-top: 100px;
}

.form {
  margin: 50px 0;
}

.text-intro {
  font-size: 16px;
}

@media (max-width: 576px) {
  p {
    text-align: center;
  }
}

.skills-description-wrapper {
  background-color: #f2e7e6;
  text-align: center;
  padding-bottom: 50px;
}

.fa-windows,
.fa-handshake,
.fa-chart-bar,
.fa-football-ball,
.fa-language,
.fa-calendar-alt,
.fa-building,
.fa-windows,
.fa-html5,
.fa-css3-alt,
.fa-js,
.fa-bootstrap,
.fa-github {
  font-size: 40px;
  margin: 20px;
}

@media (max-width: 576px) {
  .fa-windows,
  .fa-handshake,
  .fa-chart-bar,
  .fa-football-ball,
  .fa-language,
  .fa-calendar-alt,
  .fa-building,
  .fa-windows,
  .fa-html5,
  .fa-css3-alt,
  .fa-js,
  .fa-bootstrap,
  .fa-github {
    text-align: center;
  }
}

.skills {
  font-weight: 400;
  margin-top: 25px;
  margin-bottom: 25px;
}

.text-quick-fact {
  margin-top: 100px;
}

.hike {
  max-width: 600px;
}

.experience {
  font-weight: 400;
  text-align: center;
  margin-top: 25px;
}

.volunteering-title {
  font-weight: 400;
  text-align: center;
  margin-top: -15px;
  margin-bottom: 40px;
}

.position {
  font-size: 25px;
  font-weight: 200;
  text-align: center;
  margin-top: 25px;
}

.volunteering {
  margin-bottom: 25px;
  padding: 40px;
  background-color: #f2e7e6;
}

.EH {
  max-width: 200px;
}

.eh-about {
  display: flex;
  justify-content: center;
  align-items: center;
}

.link-eh {
  color: black;
}
