/* font-family: 'Playfair Display', serif;
 font-family: 'Poppins', sans-serif;
 font-family: 'Montserrat', sans-serif; 
 font-family: 'Hammersmith One', sans-serif;
 .bgred {background: white;}*/

body {
  font-family: "Poppins", sans-serif;
}

.logo {
  max-width: 50px;
  margin-left: 100px;
}

.navbar-nav {
  flex: 1;
  justify-content: flex-end;
}

footer {
  flex: 1;
  display: flex;
  justify-content: center;
  background-color: white;
  padding: 40px;
}

.link-footer {
  color: black;
  text-decoration: none;
  padding: 5px;
}

.arrow-card {
  display: block;
  margin: 0, auto;
}

h1 {
  font-size: 700;
  font-weight: bold;
}

h2 {
  font-weight: 200;
}

h3 {
  font-weight: 700;
  font-style: italic;
  text-align: center;
  color: black;
}

section {
  text-align: right;
  padding-bottom: 20px;
  background-color: #fafafa;
}

.fas {
  color: black;
}

.navbar-light .navbar-nav .nav-link {
  font-size: large;
  color: black;
}

#intro {
  background-image: url("Media/compressed.jpg");
  height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
}

.card {
  margin: 35px;
}

.nav-link {
  margin: 20px;
}

.button-homepage {
  color: black;
  text-decoration: none;
  border: solid black;
  padding: 50px;
  margin: 50px;
  padding: 10px;
  border: 0.1em solid black;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  font-weight: 300;
  color: black;
  text-align: center;
  transition: all 0.2s;
  box-shadow: 5px 5px 10px rgba(156, 115, 115, 0.1);
}

.button-resume {
  color: black;
  text-decoration: none;
  border: solid black;
  padding: 50px;
  margin: 50px;
  padding: 10px;
  border: 0.1em solid black;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  font-weight: 300;
  color: black;
  text-align: center;
  transition: all 0.2s;
  box-shadow: 5px 5px 10px rgba(156, 115, 115, 0.1);
}

.quick-facts {
  margin: 60px;
}

.sandrine {
  max-width: 400px;
}

.download-cv {
  text-align: center;
}

.portfolio {
  margin-top: 100px;
}

.form {
  margin: 50px 0;
}

.text-intro {
  font-size: 16px;
}

@media (max-width: 576px) {
  p {
    text-align: center;
  }
}
