/* font-family: 'Playfair Display', serif;
 font-family: 'Poppins', sans-serif;
 font-family: 'Montserrat', sans-serif; 
 font-family: 'Hammersmith One', sans-serif;
 font-family: 'Indie Flower', cursive;
 .bgred {background: white;}*/

/* -- General -- */

body {
  font-family: "Poppins", sans-serif;
}

footer {
  flex: 1;
  display: flex;
  justify-content: center;
  background-color: white;
  padding: 40px;
}

h1 {
  font-size: 700;
  font-weight: bold;
}

h2 {
  font-weight: 200;
}

h3 {
  font-weight: 700;
  font-style: italic;
  text-align: center;
  color: black;
}

section {
  text-align: right;
  padding-bottom: 20px;
  background-color: #fafafa;
}

.logo {
  max-width: 50px;
  margin-left: 100px;
}

.navbar-nav {
  flex: 1;
  justify-content: flex-end;
}

.link-footer {
  color: black;
  text-decoration: none;
  padding: 5px;
}

.arrow-card {
  display: block;
  margin: 0, auto;
}

.fas {
  color: black;
}

.navbar-light .navbar-nav .nav-link {
  font-size: large;
  color: black;
  margin: 20px;
}

#intro {
  background-image: url("Media/compressed.jpg");
  height: 80vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
}

.card {
  margin: 35px;
}

.quick-facts {
  margin-top: 9.3rem;
  margin-bottom: 9rem;
}

.sandrine {
  width: 370px;
}

.hike {
  width: 500px;
}

.reviews-container {
  background-color: #fafafa;
  margin-top: 8rem;
  padding-bottom: 9.6rem;
  padding-top: 2rem;
}

.portfolio {
  margin-top: 100px;
}

.form {
  margin: 50px 0;
}

.text-intro {
  font-size: 15px;
  text-align: center;
}

@media (max-width: 576px) {
  p {
    text-align: center;
  }
}

.skills-description-wrapper {
  background-color: #fef3ea;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  text-align: center;
  padding-bottom: 50px;
}

.fa-windows,
.fa-handshake,
.fa-chart-bar,
.fa-football-ball,
.fa-language,
.fa-calendar-alt,
.fa-building,
.fa-windows,
.fa-html5,
.fa-css3-alt,
.fa-js,
.fa-bootstrap,
.fa-github {
  font-size: 40px;
  margin: 20px;
}

@media (max-width: 576px) {
  .fa-windows,
  .fa-handshake,
  .fa-chart-bar,
  .fa-football-ball,
  .fa-language,
  .fa-calendar-alt,
  .fa-building,
  .fa-windows,
  .fa-html5,
  .fa-css3-alt,
  .fa-js,
  .fa-bootstrap,
  .fa-github {
    text-align: center;
  }
}

.skills {
  font-weight: 400;
  margin-top: 25px;
  margin-bottom: 25px;
}

.handwriting {
  font-family: "Indie Flower", cursive;
  font-weight: 500;
  text-align: center;
  font-size: 35px;
}

#people-say {
  margin-top: 50px;
  margin-bottom: 70px;
}

.about-paragraphe {
  font-size: 14px;
}

.list-facts {
  list-style: georgian;
}

.project-button {
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px,
    5px 5px 0px 0px;
  position: relative;
  border-radius: 20px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.project-button:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

@media (min-width: 576px) {
  .project-button {
    padding: 0.25em 0.75em;
  }
}

.gif-reviews {
  width: 900px;
}

.cv-text {
  font-size: 20px;
  font-weight: 400;
  font-style: italic;
}

.download-cv {
  margin-top: 140px;
  margin-bottom: 100px;
  text-align: center;
}

/* --- Contact page */

.contact-bubble,
.icon-contact {
  display: flex;
  justify-content: space-around;
  background-color: white;
  margin-top: 100px;
  font-family: "Indie Flower", cursive;
}

.contact-bubble {
  margin-bottom: 150px;
}

.contact-square {
  font-size: 40px;
}

.contact-square a {
  text-decoration: none;
  color: black;
}

.contact-footer {
  background-color: #fafafa;
}

#contact {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("Media/contact-compressed.jpg");
  height: 60vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
}

.contact-me-title {
  color: white;
  font-size: 70px;
  font-weight: bolder;
}
